.main-div mat-card{
  padding: 0px;
}

.login-form{
  padding: 20px;
}

.mat-form-field{
  margin: 0 10px;
}
.mat-raised-button{
  margin: 5px auto;
}

.mat-toolbar{
  border-radius: 40px 0 0 0;
}

.mat-card{
  border-radius: 40px 0 40px 0;
}


